{% extends 'base.html.twig' %}

{% block body %}
	
<div class="container">
	<h3>Najnowsze ogłoszenia</h3>
    <div class="well well-sm">
        <strong>Wyświetl</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Lista</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Tabela</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        {% for ad in adverts %}
	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	               {% for ph in ad.photos %}
							{% if loop.first %}
								<a href="{{ path('show_adv', { 'id': ad.id }) }}"><img src="{{ ph.getWebPath |  imagine_filter('newest') }}"/></a>
							{% endif %}
						{% endfor %}
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        {{ ad.title }}</h4>
	                    <p class="group inner list-group-item-text">
	                       {{ ad.category }},  {{ ad.type }}, {{ ad.condition }}</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                               {{ ad.price }}</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        {% endfor %}
 	</div>
</div>       
        
	<script>
	$(document).ready(function() {
	    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
	    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
	});
	</script>

{% endblock body %}
