{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	 <div class="row">
        <div class="col-md-2">
        <h4>Opcje filtrowania</h4>
		{{ form_start(form) }}
	    {{ form_errors(form) }}
	        {{ form_label(form.category, 'Kategoria:') }}
	        {{ form_errors(form.category) }}      
	        {{ form_widget(form.category) }}
	        
	        {{ form_label(form.type, 'Typ:') }}
	        {{ form_errors(form.type) }}      
	        {{ form_widget(form.type) }}
	        
	        {{ form_label(form.condition, 'Stan:') }}
	       	{{ form_errors(form.condition) }}      
	        {{ form_widget(form.condition) }}
	        
	        {{ form_label(form.location, 'Lokalizacja:') }}
	        {{ form_errors(form.location) }}      
	        {{ form_widget(form.location) }}
	        
	       	{{ form_label(form.price_from, 'Cena od:') }}
	        {{ form_errors(form.price_from) }}      
	        {{ form_widget(form.price_from) }}
	        
	        {{ form_label(form.price_to, 'Cena do:') }}
	       	{{ form_errors(form.price_to) }}      
	        {{ form_widget(form.price_to) }}
	        

	    {{ form_end(form) }} 
    	</div>
		<div class="col-md-10">
		  <h3>Ogłoszenia:</h3>       
		  <table class="table table-striped">
		    <tbody>
				{% for ad in adverts %}
				<tr>
					{% for ph in ad.photos %}
							{% if loop.first %}
								<td style="width: 90px"><a href="{{ path('show_adv', { 'id': ad.id }) }}"><img src="{{ ph.getWebPath |  imagine_filter('my_thumb') }}"/></a></td>
							{% endif %}
						{% endfor %}
					<td style="vertical-align: middle;">
					<div classs="container-fluid">
						<div class="row">
						  <div class="col-xs-12 col-sm-6 col-md-8"><a href="{{ path('show_adv', { 'id': ad.id }) }}">{{ ad.title }}</a></div>
						  <div class="col-xs-6 col-md-4">{{ ad.created|date("m/d/Y") }}</div>
						</div>
						<div class="row">
						  <div class="col-xs-6 col-sm-4">{{ ad.price }}</div>
						  <div class="col-xs-6 col-sm-4">{{ ad.condition }}</div>
							<div class="col-xs-6 col-sm-4">{{ ad.location }}</div>

						</div>
					</div>
					
			
					</td>

				</tr>
		   		{% endfor %}
		    </tbody>
		  </table>
		</div>
	</div>
</div>

{% endblock body %}