{% extends 'base.html.twig' %}

{% block body %}
<script>
$(document).ready(function(){

	(function( $ ){
	    $.fn.loadModels = function() {
		    var $selected= $(this).val();
		    if($selected){
		    	$('#filtertype_carmodel').prop('disabled', false);
	        $.ajax({
	               method: "GET",
	               url: "{{ path('homepage') }}ajax/makes/"+$selected,
	               
	             })
	           .done(function( carmodels ) {
	               var options = "";
	               $.each(carmodels, function() {
	                   $.each(this, function(i, carmodel) {             
	                	   options += "<option value='" + carmodel['id'] + "'>" + carmodel["name"] + "</option>";               
	                   });
	                 });
	               $( '#filtertype_carmodel' ).html(options);               
	           });
	    	}else{
	    		$('#filtertype_carmodel').prop('value' , null);
	    		$('#filtertype_carmodel').prop('disabled', true);

		    }
	    	};

	 })( jQuery );
	 
	$('#filtertype_carmake').loadModels();
	
	$( '#filtertype_carmake' ).change(function() {
		$('#filtertype_carmake').loadModels();		
	});
	

	
});

</script>

<div class="container">
	 <div class="row">
        <div class="col-md-2">
        
        
        
        <h4>Opcje filtrowania</h4>
		{{ form_start(form) }}
	    {{ form_errors(form) }}
	        
	       	{{ form_label(form.carmake, 'Marka:') }}
	       	{{ form_errors(form.carmake) }}      
	        {{ form_widget(form.carmake) }}
	        
	        {{ form_label(form.carmodel, 'Model:') }}
	       	{{ form_errors(form.carmodel) }}      
	        {{ form_widget(form.carmodel) }}
	        

			        {{ form_label(form.price_from, 'Cena od - do:') }}
			        {{ form_errors(form.price_from) }}      
			        {{ form_widget(form.price_from) }}

	       			{{ form_errors(form.price_to) }}      
					{{ form_widget(form.price_to) }}

	        
	       
	        
	        {{ form_label(form.carcondition, 'Stan:') }}
	       	{{ form_errors(form.carcondition) }}      
	        {{ form_widget(form.carcondition) }}
	        
	        {{ form_label(form.location, 'Miejscowość:') }}
	        {{ form_errors(form.location) }}      
	        {{ form_widget(form.location) }}
	        
	        {{ form_label(form.color, 'Kolor:') }}
	        {{ form_errors(form.color) }}      
	        {{ form_widget(form.color) }}

	        

	    {{ form_end(form) }} 
    	</div>
		<div class="col-md-10">
		  <h3>Ogłoszenia:</h3>       
		  <table class="table table-striped">
		    <tbody>
				{% for ad in adverts %}
				<tr>
					{% for ph in ad.photos %}
							{% if loop.first %}
								<td style="width: 90px"><a href="{{ path('show_adv', { 'id': ad.id }) }}"><img src="{{ ph.getWebPath |  imagine_filter('my_thumb') }}"/></a></td>
							{% endif %}
						{% endfor %}
					<td style="vertical-align: middle;">
					<div classs="container-fluid">
						<div class="row">
						  <div class="col-xs-12 col-sm-6 col-md-8"><a href="{{ path('show_adv', { 'id': ad.id }) }}">{{ ad.title }}</a></div>
						  <div class="col-xs-6 col-md-4">{{ ad.created|date("m/d/Y") }}</div>
						</div>
						<div class="row">
						  <div class="col-xs-6 col-sm-4">{{ ad.price }}</div>
						  <div class="col-xs-6 col-sm-4">{{ ad.carcondition }}</div>
							<div class="col-xs-6 col-sm-4">{{ ad.location }}</div>

						</div>
					</div>
					
			
					</td>

				</tr>
		   		{% endfor %}
		    </tbody>
		  </table>
		</div>
	</div>
</div>

{% endblock body %}