{% extends 'base.html.twig' %}

{% block body%}
	<script type="text/javascript">
	var $collectionHolder;
	
	//setup an "add a photo" link
	var $addphotoLink = $('<a href="#" class="add_photo_link">Dodaj kolejne zdjęcie</a>');
	var $newLinkLi = $('<li></li>').append($addphotoLink);
	
	jQuery(document).ready(function() {
	    // Get the ul that holds the collection of photos
	    $collectionHolder = $('ul.photos');
	
	    // add a delete link to all of the existing photo form li elements
	    $collectionHolder.find('li').each(function() {
	        addPhotoFormDeleteLink($(this));
	    });
	 // add the "add a photo" anchor and li to the photos ul
	 $collectionHolder.append($newLinkLi);
	
	 // count the current form inputs we have (e.g. 2), use that as the new
	 // index when inserting a new item (e.g. 2)
	 $collectionHolder.data('index', $collectionHolder.find(':input').length);
	
	 $addphotoLink.on('click', function(e) {
	     // prevent the link from creating a "#" on the URL
	     e.preventDefault();
	
	     // add a new photo form (see next code block)
	     addphotoForm($collectionHolder, $newLinkLi);
	 });
	});
	
	function addphotoForm($collectionHolder, $newLinkLi) {
	    // Get the data-prototype explained earlier
	    var prototype = $collectionHolder.data('prototype');
	
	    // get the new index
	    var index = $collectionHolder.data('index');
	
	    // Replace '__name__' in the prototype's HTML to
	    // instead be a number based on how many items we have
	    var newForm = prototype.replace(/__name__/g, index);
	
	    // increase the index with one for the next item
	    $collectionHolder.data('index', index + 1);
	
	    // Display the form in the page in an li, before the "Add a photo" link li
	    var $newFormLi = $('<li></li>').append(newForm);
	    
	    $newLinkLi.before($newFormLi);
	
	 // add a delete link to the new form
	    addPhotoFormDeleteLink($newFormLi);
	}
	
	function addPhotoFormDeleteLink($photoFormLi) {
	    var $removeFormA = $('<a href="#">Usuń to zdjęcie</a>');
	    $photoFormLi.append($removeFormA);
	    
	    $removeFormA.on('click', function(e) {
	        // prevent the link from creating a "#" on the URL
	        e.preventDefault();
	
	        // remove the li for the photo form
	        $photoFormLi.remove();
	    });
	}
	</script>
	
	<script>
$(document).ready(function(){

	(function( $ ){
	    $.fn.loadModels = function() {
		    var $selected= $(this).val();
		    if($selected){
		    	$('#advertisementtype_carmodel').prop('disabled', false);
	        $.ajax({
	               method: "GET",
	               url: "{{ path('homepage') }}ajax/makes/"+$selected,
	               
	             })
	           .done(function( carmodels ) {
	               var options = "";
	               $.each(carmodels, function() {
	                   $.each(this, function(i, carmodel) {     
		                   if(i!=0)      
	                	   		options += "<option value='" + carmodel['id'] + "'>" + carmodel["name"] + "</option>";               
	                   });
	                 });
	               $( '#advertisementtype_carmodel' ).html(options);               
	           });
	    	}else{
	    		$('#advertisementtype_carmodel').prop('value' , null);
	    		$('#advertisementtype_carmodel').prop('disabled', true);

		    }
	    	};

	 })( jQuery );
	 
	$('#advertisementtype_carmake').loadModels();
	
	$( '#advertisementtype_carmake' ).change(function() {
		$('#advertisementtype_carmake').loadModels();		
	});
	

	
});

</script>
	<div class="jumbotron lay-box">
		<h3>Dodaj nowe ogłoszenie</h3>
		{{ form_start(form) }}
	    {{ form_errors(form) }}
		<div class="row">
			<div class="col-xs-12 col-md-6">	        
		  		{{ form_label(form.title, 'Tytuł:') }}
		        {{ form_errors(form.title) }}      
		        {{ form_widget(form.title) }}</div>
		  	<div class="col-xs-6 col-md-3">
		  		{{ form_label(form.price, 'Cena:') }}
		        {{ form_errors(form.price) }}
		        {{ form_widget(form.price) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3">
		  		{{ form_label(form.yearofprod, 'Rok produkcji:') }}
		        {{ form_errors(form.yearofprod) }}
		        {{ form_widget(form.yearofprod) }}
		  	</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-3"> 
			  	{{ form_label(form.carmake, 'Marka:') }}
		        {{ form_errors(form.carmake) }}
		        {{ form_widget(form.carmake) }}
		    </div>
		  	<div class="col-xs-6 col-md-3">
		  		{{ form_label(form.carmodel, 'Model:') }}
	        	{{ form_errors(form.carmodel) }}
	        	{{ form_widget(form.carmodel) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3">
		  		{{ form_label(form.body, 'Typ nadwozia:') }}
	        	{{ form_errors(form.body) }}
	        	{{ form_widget(form.body) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3"> 
		        {{ form_label(form.carcondition, 'Stan techniczny:') }}
		        {{ form_errors(form.carcondition) }}
		        {{ form_widget(form.carcondition) }}
		    </div>
		</div>
		
		<div class="row">
		  	<div class="col-xs-6 col-md-3">
	        	{{ form_label(form.enginecapacity, 'Pojemność silnika:') }}
	       		{{ form_errors(form.enginecapacity) }}
	        	{{ form_widget(form.enginecapacity) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3">
		        {{ form_label(form.horsepower, 'Moc silnika:') }}
		        {{ form_errors(form.horsepower) }}
		        {{ form_widget(form.horsepower) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3">
		        {{ form_label(form.fuel, 'Paliwo:') }}
		        {{ form_errors(form.fuel) }}
		        {{ form_widget(form.fuel) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3"> 
		        {{ form_label(form.gearbox, 'Skrzynia biegów:') }}
		        {{ form_errors(form.gearbox) }}
		        {{ form_widget(form.gearbox) }}
		    </div>
		</div>	
		<div class="row">
		  	<div class="col-xs-6 col-md-3">
		        {{ form_label(form.mileage, 'Przebieg:') }}
		        {{ form_errors(form.mileage) }}
		        {{ form_widget(form.mileage) }}
		  	</div>
			<div class="col-xs-6 col-md-3"> 
		        {{ form_label(form.color, 'Kolor:') }}
		        {{ form_errors(form.color) }}
		        {{ form_widget(form.color) }}
		    </div>
		  	<div class="col-xs-6 col-md-3">
		        {{ form_label(form.province, 'Województwo:') }}
		        {{ form_errors(form.province) }}
		        {{ form_widget(form.province) }}
		  	</div>
		  	<div class="col-xs-6 col-md-3">
		        {{ form_label(form.location, 'Miejscowość:') }}
		        {{ form_errors(form.location) }}
		        {{ form_widget(form.location) }}
		  	</div>
		</div>
		<div>
	        {{ form_label(form.description, 'Opis:') }}
	        {{ form_errors(form.description) }}
	        {{ form_widget(form.description) }}
	    </div>
	    <div>
	    	<ul class="photos" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}" style="list-style-type: none; ">
		        {# iterate over each existing photo and render its only field: name #}

		        {% for photo in form.photos %}
		            <li><div id="imagePreview"></div>
		            {{ form_row(photo.file) }}</li>
		        {% endfor %}
    		</ul>
    	</div>
		{{ form_end(form) }}
	</div>
{% endblock body %}