{% extends 'base.html.twig' %}

{% block body%}
	<div class="jumbotron lay-box">
	<h3>Usuń kolor</h3>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		        {{ form_label(form.name, 'Kolor:') }}
		        {{ form_errors(form.name) }}		        
		        {{ form_widget(form.name) }}

		{{ form_end(form) }}
	</div>
{% endblock body %}