{% extends 'base.html.twig' %}

{% block body%}
	<div class="jumbotron lay-box">
	<h3>Dodaj model</h3>
		{{ form_start(form) }}
		{{ form_errors(form) }}
				{{ form_label(form.carmake, 'Marka:') }}
		        {{ form_errors(form.carmake) }}		        
		        {{ form_widget(form.carmake) }}
		        
		        {{ form_label(form.name, 'Model:') }}
		        {{ form_errors(form.name) }}		        
		        {{ form_widget(form.name) }}

		{{ form_end(form) }}
	</div>
{% endblock body %}